/*GERAL*/
body {
  background: linear-gradient(#000000, 
  var(--cor-primaria)) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #FFFFFF;
}
:root {
  --cor-primaria: #05FFC1;
  --cor-segundarua: #FFBE1A;

}

html,
body {
  height: 100%
}

button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 3px solid black;
  font-size: 20px;
  position: absolute;
}

/* MAIN */
#bA {
  top: 174px;
  left: 45px;
}

#bV {
  right: 45px;
  top: 174px;
}

#play {
  top: 13rem;
  left: 6.5rem;
  background: #05FF04;
}

#stop {
  top: 13rem;
  right: 6.5rem;
  background: #FF0426
}

#zero {
  top: 13rem;
}

.main {
  width: 400px;
  height: 200px;
  border: 2px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main .plac {
  width: 90px;
  height: 100px;
  position: absolute;
  box-shadow: 5px 5px 10px #FFFFFF
}

.main div h3 {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  margin: 0;
}

#Az {
  background: linear-gradient(black, blue, black);
  left: 30px;
  top: 20px;
  height: 150px;
}

#Ve {
  background: linear-gradient(black, red, black);
  right: 30px;
  top: 20px;
  height: 150px;
}



/*CLASS GERAL*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}